
body {
  background: rgba(201 ,212, 207, .5);
}

.inline {
  display: inline-block;
  margin: 0px;
}

.main-nav h4 {
  padding: 5px 30px 5px 30px;
}

#sort-by {
  padding-right: 2px;
}

.submit-post {
  margin-left: 20px;
}
.submit-post:hover {
  color: blue;
}

.submit {
  color: white;
  background-color: blue;
  border-radius: 8px;
}

.each-post{
  padding: 10px;
  background: rgba(247, 240, 213, .5);
  margin: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

#all-posts {
  margin-top: 50px;
}

img {
  /*height: 125px;*/
  margin: 0px;
  padding:1px;
  width: 100%;
}

.right {
  text-align: right;
}

.upDownArrows {
  color: blue;
  box-shadow: 4px 4px 4px #888888;
  margin-left: 4px;
  margin-right: 4px;
  background: #EBF4FA;
  border-radius: 20px;
}

.upDownContainer {
  padding: 10px;
}

.title {
  font-weight: bold;
}

.comments {
  color: #307D7E;
}

.comment-text {
  background-color: white;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
}