
body {
  background: rgba(201 ,212, 207, .5);
}

.inline {
  display: inline-block;
  margin: 0px;
}

.main-nav h4 {
  padding: 5px 30px 5px 30px;
}

.main-title {
  margin-left: 40px;
}

.search-input {
  margin-left: 50px;
}

.btn.sort-by.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.btn.sort-by.dropdown-toggle:hover {
  font-weight: bold;
}

.sort-by {
  margin-left: 50px;
  color: black;
}

.submit-post {
  margin-left: 100px;
}
.submit-post:hover {
  color: blue;
}

.submit {
  color: white;
  background-color: blue;
  border-radius: 8px;
}

.each-post{
  padding: 10px;
  background: rgba(247, 240, 213, .5);
  margin: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

#all-posts {
  margin-top: 50px;
}

img {
  /*height: 125px;*/
  margin: 0px;
  padding:1px;
  width: 100%;
}

.right {
  text-align: right;
}

/*.myUpArrow:before {
    content: "\f164";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
--adjust as necessary--
    text-shadow: 4px 4px 4px #888888;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
*/
.upDownArrows {
  color: blue;
  text-shadow: 4px 4px 4px #888888;
  margin-left: 4px;
  margin-right: 4px;
  background: none;
  border-radius: 20px;
}

.upDownArrows:hover {
  cursor:pointer;
}

.glyphicon-arrow-up{
  background-color: none;
}

.upDownContainer {
  padding: 10px;
}

.title {
  font-weight: bold;
}

.comments {
  color: #307D7E;
}

.comment-text {
  background-color: white;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
}