
body {
  /*background: rgba(201 ,212, 207, .5);*/
  background-color: white;
}

.inline {
  display: inline-block;
  margin: 0px;
}

p#top-border: {
  height: 20px;
  color:yellow;
  background-color: purple;
}

nav.navbar.navbar-default.main-nav {
  height: 100px;
  background-color: #82CAFA; 
  font-family: 'Open Sans', sans-serif; 
}

.main-nav h4 {
  padding: 5px 30px 5px 30px;
}

#logo {
  margin-top: -15px;
  /*border: 10px solid green;*/
  height: 125px;
  width: 125px;
}

.main-title {
  margin-left: 40px;
}

.search-input {
  margin-left: 50px;
}

.btn.sort-by.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.btn.sort-by.dropdown-toggle:hover {
  font-weight: bold;
}

.sort-by {
  margin-left: 50px;
  color: black;
}

.submit-post {
  margin-left: 100px;
}
.submit-post:hover {
  color: blue;
}

.submit {
  color: white;
  background-color: blue;
  border-radius: 8px;
}
/*
.each-post .backdrop {
  background-image: url("../images/linen7.jpg");
  opacity: .5; 
}*/
.each-post{
  padding: 10px;
  /*background: rgba(247, 240, 213, .5);*/
  /*background-image: url("../images/linen7.jpg");*/
  /*opacity: .5;*/
  background-color: #D1D0CE;
  box-shadow: 4px 4px 4px #888888;
  margin: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

#all-posts {
  margin-top: 50px;
}



img {
  /*height: 125px;*/
  margin: 0px;
  padding:1px;
  width: 100%;
}

.right {
  text-align: right;
}

/*.myUpArrow:before {
    content: "\f164";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
--adjust as necessary--
    text-shadow: 4px 4px 4px #888888;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
*/
.upDownArrows {
  color: blue;
  text-shadow: 2px 2px 2px #888888;
  margin-left: 4px;
  margin-right: 4px;
  background: none;
  border-radius: 20px;
}

.upDownArrows:hover {
  cursor:pointer;
}

.glyphicon-arrow-up {
  background-color: none;
}

.upDownContainer {
  padding: 10px;
}

.title {
  font-weight: bold;
}

.comments {
  color: black;
}

.comment-text {
  color: #307D7E;
  background-color: white;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.comment-icon {
  font-size: 20px;
}