<!doctype html>
<html lang="en" ng-app='redditClone'>
<head>
  <title>Angular Reddit Clone</title>
  <base href="/">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="./css/main.css" rel="stylesheet" media="screen">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
  <script src="./js/app.js" type="text/javascript"></script>
  <script src="./js/controllers.js" type="text/javascript"></script>
  <script src="./js/directives.js" type="text/javascript"></script>
  <script src="./js/filters.js" type="text/javascript"></script>
  <script src="./js/services.js" type="text/javascript"></script>
</head>
  <body ng-controller="myController">
    <nav class="navbar navbar-default main-nav">
      <h2 class="inline">Reddit Clone</h2>
      <div class="inline submit-post">
        <a ng-click="showForm()">
          <h4><span class="glyphicon glyphicon-plus"></span>Submit Post</h4>
        </a>
      </div>
      <input class="inline" placeholder="Search">
      <div class="sort-by inline">
        <h4>Sort By Votes</h4>
      </div>
      <select>
        <option value="votes">Votes</option>
        <option value="date">Date</option>
        <option value="title">Title</option>
      </select>>
    </nav> 
    <div class="col-md-12">
      <div class="col-md-1">
      </div>
      <div ng-show="displayForm" class="col-md-10 submit-post-form">
        <form name="postform" ng-submit="submit()">
          <p>Add a Post</p>
          <label>Title</label>
          <input class="form-control" type="text" placeholder="Title" ng-model="title" required>
          <label>Author</label>
          <input class="form-control" type="text" placeholder="Author" ng-model="author" required>
          <label>Image URL</label>
          <input class="form-control" type="text" placeholder="Image URL" ng-model="imageURL" required>
          <label>Description</label>
          <input class="form-control" type="text" placeholder="Description" ng-model="description" required>
          <p ng-show="notValid" ng-class="{red: true}">All Fields Required</p>
          <br>
          <input type="submit" value="Submit Post" class="submit">
        </form>
      </div> 
      <div class="col-md-1">
      </div>
    </div>  
    <div id="all-posts" ng-repeat="post in posts" class="col-md-12">
      <div class="col-md-1">
      </div>
      <div class="each-post col-md-10">
        <div >
          <div class="col-md-3 inline">
            <img ng-src="{{post.imageURL}}" >
          </div>
          <div class="col-md-9 inline" >
            <div>
              <h5 class="title inline">{{post.title}}</h5>
              <h6 class="title inline"><span class="glyphicon glyphicon-arrow-down" ng-click="downVote(this.post)"></span><span class="glyphicon glyphicon-arrow-up" ng-click="upVote(this.post)" ></span>{{post.numberOfVotes}}</h6>
            </div>
            <p class="right">{{post.author}}</p>
            <p>{{post.description}}</p>
            <div>
              <ul>
                <li class="inline">{{ post.postDate | date: "EEEE 'at' h:mm a" }} | </li>
                <li class="inline submit-post" ng-click="showAllPostComments(this.post)">Comments | </li>
                <li class="inline submit-post" ng-click="showAddComment(this.post)">Add Comment</li>
              </ul>
            </div>
            <div ng-show="displayAddComment">
              <ul>
                <li class="inline">Author</li>
                <input class="inline" placeholder="username" ng-model="commentUserName">
                <li class="inline">Text</li>
                <input class="inline" placeholder="comment text" ng-model="commentText">
                <button class="inline" ng-click="addComment(this.post)">Add Comment</button>
              </ul>              
            </div>
            <div ng-show="showComments" ng-repeat="comment in comments">
              <p>{{comment.text}} {{comment.author}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
        <div class="col-md-1">
    </div>   


  </body>
</html>